html {
    background-color: #000000 !important;
}
html {
    color-scheme: dark !important;
}
html, body, input, textarea, select, button {
    background-color: #000000;
}
html, body, input, textarea, select, button {
    border-color: #6e6453;
    color: #ffffff;
}
a {
    color: #1e96ff;
}
table {
    border-color: #454e52;
}
::placeholder {
    color: #c3baad;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #2a2f00 !important;
    color: #ffffff !important;
}
::selection {
    background-color: #003bb9 !important;
    color: #ffffff !important;
}
::-moz-selection {
    background-color: #003bb9 !important;
    color: #ffffff !important;
}