@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.body {
   margin: 2em;
   text-align: center;
   font-family: 'Open Sans';
   background: #7a7a7a;
}
.upload {
   background: #d6d6d6;  
   margin: 30px auto;
   max-width: 650px;
   padding: 20px;
   border: 2px solid #000000;
}
header {
   padding: 10px 0 30px;
border-bottom: 2px solid #000000;
}
#show-text {
   padding: 22px 0 5px;
   overflow-y: auto;
   max-height: 400px;
   width: 100%;
}
.error {
   display: block;
   color: red;
}
h1 {
   font-size: 22px;
}
a {
color: blue;
font-size: 13px;
text-decoration: none;
}

#scen-input{
  background: #0061ff;
padding: 15px 11px 18px 20px;
border-radius: 4px;
cursor: pointer;
color: white;
width: 159px;
border: 2px solid #00c7fc;
outline: 0;
}
#map-input{
  background: #ff2600;
padding: 15px 11px 18px 20px;
border-radius: 4px;
cursor: pointer;
color: white;
width: 159px;
border: 2px solid #00c7fc;
outline: 0;
}

option{
	font-family: monospace;
}

canvas{
	height: 800px;
	width: 800px;
	position: absolute;
	border:1px solid blue;
	background-color: transparent;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}



#bg{
	z-index:0;
}
#queue{
	z-index:1;
}
#visited{
	z-index:2;
}
#path{
	z-index:3;
}
#start{
	z-index:4;
}
#goal{
	z-index:4;
}