
.upload {
   background: #000000;  
   margin: 30px auto;
   max-width: 650px;
   padding: 20px;
   border: 3px solid white;
}
header {
   padding: 10px 0 30px;
border-bottom: 2px solid #000000;
}
#show-text {
   padding: 22px 0 5px;
   overflow-y: auto;
   max-height: 400px;
   width: 100%;
}
.error {
   display: block;
   color: red;
}
h1 {
   font-size: 22px;
}
a {
color: blue;
font-size: 13px;
text-decoration: none;
}

#scen-input{
background: #0061ff;
padding: 15px 11px 18px 20px;
border-radius: 4px;
cursor: pointer;
color: white;
width: 159px;
border: 2px solid #00c7fc;
outline: 0;
}
#map-input{
  background: #ff2600;
padding: 15px 11px 18px 20px;
border-radius: 4px;
cursor: pointer;
color: white;
width: 159px;
border: 2px solid #00c7fc;
outline: 0;
}

option{
	font-family: monospace;
}

canvas{
	height: 512px;
	width: 512px;
	
	border:1px solid blue;
	background-color: transparent;/* to layer canvas*/
	position: absolute; /* this and next 2 lines canvases are all at the same position*/

top: 40px; left: 40px;
  left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  display: block;  /* start canvas on new block/newlinw*/
  object-fit: contain;  /* scale bitmap to match css canvas*/
}
#bg{
  background-color: white;/* to layer canvas*/
}



#bg{
	z-index:0;
}
#queue{
	z-index:1;
}
#visited{
	z-index:2;
}
#neighbours{
	z-index:3;
}
#current_YX{
	z-index:4;
}
#path{
	z-index:5;
}
#start{
	z-index:6;
}
#goal{
	z-index:7;
}

/*from dark reader+change .upload background and border colour*/
html {
    background-color: #000000 !important;
}
html {
    color-scheme: dark !important;
}
html, body, input, textarea, select, button {
    background-color: #000000;
}
html, body, input, textarea, select, button {
    border-color: #6e6453;
    color: #ffffff;
}
a {
    color: #1e96ff;
}
table {
    border-color: #454e52;
}
::placeholder {
    color: #c3baad;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #2a2f00 !important;
    color: #ffffff !important;
}
::selection {
    background-color: #003bb9 !important;
    color: #ffffff !important;
}
::-moz-selection {
    background-color: #003bb9 !important;
    color: #ffffff !important;
}