html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	
	background-color: #d1cfe2 ;
  background-size: cover;
}

#main-title{
	text-align: center;
	height: 5%;
	width: 100%;
}


#dark-toggle{
	display: inline-block;
	position: absolute;
}

#main{
	width: 1136px;
	height: 510px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap; /* this does the trick */
  overflow: hidden; /* this prevents the grey divs from overflowing */
}


.container{
	display: inline-block;
	vertical-align:middle;
	height: 500px;
	width: 300px;
	border: 3px solid black;
	margin: 2px;
	overflow: hidden;
}

#map-container{
	width: 500px;
}

.sub-container{
	display: grid;
  overflow: hidden;
	width: 100%;
	height: 100%;
  justify-items: center;
  align-items: center;
}

.overlay{
	grid-column: 1;
  grid-row: 1;
	width: 100%;
	height: 100%;
  overflow: hidden;
}

/* drag and drop css */

.upload{
	width: 95%;
	height: 95%;
	z-index: 99;
	
	border: 2px dashed #ccc;
  border-radius: 20px;
	font-family: sans-serif;
}

.hidden{
	visibility: hidden;
}

.upload.highlight {
  border-color: purple;
}

.btn {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.btn:hover {
  background: #ddd;
}

.file_input{
	display: none;
}